# Project exclude paths
/.gradle/
/Tic-Tac-Toe/task/build/
/Tic-Tac-Toe/task/out/
/Tic-Tac-Toe/task/out/production/classes/
/Topics/The for-loop/Grades/out/
/Topics/The for-loop/Grades/out/production/classes/